.Items{
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 12px;
    margin-left: 12px;
    margin-right: 7px;
}

.expense-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: white#4b4b4b;
    font-family: Arial, Helvetica, sans-serif;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    

}

.expense-item-description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
}

.expense-item h2{
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
}

.expense-item-price{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
    margin-inline-end: 5%;
    width: 12%;
    text-align: center;
}

@media(min-width: 580px){
    .expense-item-description{
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }
}

.expense-item-description h2{
    font-size: 1.25rem;
}

.expense-item-price{
    font-size: 1.25rem;
}

#btn{
    background-color: green;
    color: white;
    border: green solid;
    border-radius: 5px;
    padding: 5px;
    width: 10%;
    font-weight: bold;
    margin-inline-end: 1%;
    box-shadow: green;
    
}